@model IEnumerable<bojan_recipe.Models.Tutorial>

@{
    ViewData["Title"] = "Index";
}

<style>
    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Adjust the number of lines to display */
        -webkit-box-orient: vertical;
    }

    .card {
        width: 30rem;
        margin-bottom: 40px;
    }
</style>

<div class="container">
    <h1>Tutorials and Videos</h1>
    <a class="btn btn-primary" style="margin-bottom: 40px" asp-action="Create">Create New Tutorial</a>
</div>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-6">
            <div class="card">
                    <iframe height="300px" class="embed-responsive-item" src="@item.TutorialVideoUrl" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">@item.TutorialName</h5>
                    <p class="card-text">@Html.Raw(System.Text.RegularExpressions.Regex.Replace(item.TutorialDescription, @"<[^>]+>", string.Empty).Split(' ').Length > 30 ? string.Join(" ", item.TutorialDescription.Split(' ').Take(30)) + "..." : item.TutorialDescription)</p>
                    <p class="card-text"><strong>Category:</strong> @item.Category</p>

                    <div class="text-center">
                        <a href="@Url.Action("Details", new { id = item.TutorialId })" class="btn btn-primary">Details</a>
                        <a href="@Url.Action("Edit", new { id = item.TutorialId })" class="btn btn-secondary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.TutorialId })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
